<!doctype html>
<html ng-app="iTunes">
  <head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.js"></script>
    <script type="text/javascript" src="iTunes.js"></script>

    <title>Angular iTunes</title>
  </head>
  <body>
    <div ng-controller="iTunesCtrl as iTunes">
      <ul>
        <!-- <li ng-repeat="music in iTunes.music">
          <span>You searched for: {{search}}</span>
        </li> -->
      </ul>
    <hr>
      <div class="search form">
        <input type="text" ng-model="search"  placeholder="Please enter name of artist">
      </div>
      <div class='main-info' ng-model='details'>
        {{title}}
      </div>
    </div>
  </body>
</html>
