.form-control {
  width: 500px;
  float: left;
  font-size: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
button {
  height: 34px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
  border: 1px solid #ccc;
}

#droppable{
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

/*#sortable {
  border: 1px solid black;
}*/
